extends ../layouts/layout

block content
  p#notice

  each n in ['student.name','student.password']
    p
      strong #{n.split('.')[1]}:
      span #{eval(n)}

  a(href='/students/#{ student._id}/edit') Edit
  span |
  a(href='/students') Back