extends ../layouts/layout

block content
  .user-form
    div.user-form-title 用户登录
    form(action='/users/login', method='POST')
      div.form-line
        input#username(type='text', name='username', placeholder='用户名', value='kezhi')
      div.form-line
        input#userpwd(type='password', name='password', placeholder='密码', value='111111')
      input#user_login_submit.btn-style(type='submit', value='登录')
      .form-tip 没有帐号？请 
        a(href="/users/register")注册
